<p class="text-center my-3 none" id="fetching-indicator">Fetching messages</p>

<% messages.each do |message| %>
  <% if message.booking %>
    <%= render partial: "bookings/widget", locals: { booking: message.booking, conversation: conversation, rate: rate, message: message } %>
  <% else %>
    <%= render partial: "messages/message", locals: { message: message, user_is_author: message.user == current_user } %>
  <% end %>
<% end %>
