<% if params[:network] %>
  <% if profiles.size.positive? %>
    <% profiles.each do |profile| %>
      <% conversation ||= current_user.conversation_with(profile.user) %>
      <% connection ||= current_user.find_connection(profile.user) %>
      <%= render partial: "profiles/card", locals: { profile: profile, conversation: conversation, add_to_network: !connection.present? } %>
    <% end %>
  <% else %>
    <h2>You don't have any freelancers in your network</h2>
  <% end %>
<% else %>
  <% profiles.each do |profile| %>
    <% conversation ||= current_user.conversation_with(profile.user) %>
    <% connection ||= current_user.find_connection(profile.user) %>
    <%= render partial: "profiles/card", locals: { profile: profile, conversation: conversation, add_to_network: !connection.present? } %>
  <% end %>
<% end %>
<% unless params[:ob].present? && params[:ob] == "t" %>
  <div class="add-more flex flex-column items-center justify-content-center">
    <p class="text-center textBlue bold textLg">Find more freelancers by posting a job</p>
    <%= image_tag "icons/phone-hand.svg", alt: "phone-hand", width: 312, height: 312 %>
  </div>
<% end %>
