<div class="profiles-index" style="margin-top: 20%;">
  <section class="flex justify-content-between p-3 my-3" style="background-color: #F9FBFE;">
    <%= link_to "My network", profiles_path(network: true), class: "btn #{params[:network] ? 'btn-white' : 'btn-transparent'}" %>
    <%= link_to "Everyone", profiles_path, class: "btn #{params[:network] ? 'btn-transparent' : 'btn-white'}" %>
  </section>

  <section class="filter">
    <input type="text" placeholder="Search" />
    <div>
      <button>filter</button>
      <button>sort by</button>
    </div>
  </section>

  <section class="cards">
    <% if params[:network] %>
      <% if @profiles.size.positive? %>
        <% @profiles.each do |profile| %>
          <%= render partial: "profiles/card", locals: { profile: profile, invitation: false } %>
        <% end %>
      <% else %>
        <h2>You don't have any freelancers in your network</h2>
      <% end %>
    <% else %>
      <% @profiles.each do |profile| %>
        <%= render partial: "profiles/card", locals: { profile: profile, invitation: true } %>
      <% end %>
    <% end %>
  </section>
</div>
