(() => {
  const profileContainer = document.querySelector(".cards");
  const [network, all] = document.querySelectorAll(".switch a");
  const filterContent = document.getElementById("filter-content");
  const trigger = document.getElementById("filter-trigger");

  profileContainer.innerHTML = "<%= j render partial: "profiles/cards", locals: { profiles: @profiles } %>";

  if ("<%= params[:all] %>" === "true") {
    all.classList.add("btn-white");
    network.classList.remove("btn-white");
    all.classList.remove("btn-transparent");
  } else {
    network.classList.add("btn-white");
    all.classList.remove("btn-white");
    network.classList.remove("btn-transparent");
  }

  if (!filterContent.classList.contains("none")) {
    filterContent.classList.add("none");
  }

  if (trigger && <%= @filter_count.is_a?(Integer) ? @filter_count : 0 %> > 0) {
    const template = `
      <span class="skill-pill blue m-0 filter-count">
        <%= @filter_count.to_s.rjust(2, "0") %>
      </span>
    `;

    trigger.insertAdjacentHTML("beforeend", template);
  }
})();
