<div class="flex w-100 justify-content-center">
  <% if @profile.user == current_user %>
    <%= render "my_profile" %>
  <% else %>
    <%= render "general_profile" %>
  <% end %>
</div>

<div class="shareModalContainer"></div>
<%= javascript_pack_tag "components/ShareModal" %>
