(() => {
  const removeButton = document.querySelector(".button_to");
  const bookButton = document.querySelector(".profileButtons a");
  const addPersonIconPath = "<%= image_path 'icons/user-plus' %>";

  removeButton.remove();
  bookButton.href = "<%= ajax_profile_connections_path(@profile) %>";
  bookButton.dataset["remote"] = true;
  bookButton.dataset["method"] = "post";
  bookButton.rel = "nofollow";
  bookButton.innerHTML = `<img alt="Add to network" src=${addPersonIconPath}><p class="textWhite">ADD</p>`;
})();
