$light-green: #dbfee5;
$dark-green: #1a8250;
$gray: #828282;
$light-gray: #f9fbfe;
$dark-gray: #2f2f3e;
$orange: #ff9774;
$red: #ff464b;
$flat-red: #ffdcdd;
$wine-red: #b33236;
$black: #2f2f3e;
$light-black: #6c7b8a;

$blue: #828ff4;
$blue-2: #4c5fef;
$blue-3: #4888ff;
$flat-blue-5: #cacffb;
$flat-blue-10: #cfeff9;

$blueish-gray: #f4f6f9;

$flat-gray-3: #dfe5ee;

$flat-dark-1: #121217;
$flat-dark-4: rgb(98, 98, 113);
$flat-dark-5: #140f26;

$flat-brown-5: #cbbdbd;

$flat-green-3: #1ed7a6;
$flat-green-5: #d3f7ed;
$leaf-green: #179474;

$flat-red-2: #cc383c;
$flat-red-3: #ff464b;
$flat-red-4: #ff6b6f;
$flat-red-5: #ffdcdd;

$flat-orange-3: #fed18a;
$flat-orange-5: #fff0e2;

$flat-yellow-3: #ffca5c;

$dark-blue-gradient: linear-gradient(315deg, #4048ef 0%, #5a7bef 100%);
$light-blue-gradient: linear-gradient(
	165.68deg,
	#23baff -19.67%,
	#5183f0 91.01%
);
$violet-blue: #cacffb;
