$light-green: #dbfee5;
$dark-green: #1a8250;
$gray: #828282;
$light-gray: #f9fbfe;
$dark-gray: #2f2f3e;
$orange: #ff9774;
$red: #ff464b;
$black: #2f2f3e;
$light-black: #6c7b8a;
$blue: #828ff4;
$blue-2: #4c5fef;
$blueish-gray: #f4f6f9;

$dark-blue-gradient: linear-gradient(315deg, #4048ef 0%, #5a7bef 100%);
$light-blue-gradient: linear-gradient(
	165.68deg,
	#23baff -19.67%,
	#5183f0 91.01%
);
$violet-blue: #cacffb;
