.hidden {
  display: none;
}

.textRed {
  color: red;
}

.textSm {
  font-size: 12px;
}

.textMd {
  font-size: var(--font-size-xs);
}

.flex {
  display: flex;
}

.noMargin {
  margin: 0;
}

.textWhite {
  color: white;
}

.mt-3 {
  margin-top: 16px;
}

.my-3 {
  @extend .mt-3;
  margin-bottom: 16px;
}

.mt-2 {
  margin-top: 12px;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.pl-0 {
  padding-left: 0;
}

.list-style-none {
  list-style: none;
}

.mb-0 {
  margin-bottom: 0;
}

.w-100 {
  width: 100%;
}

.vw-100 {
  width: 100vw;
}

.h-100 {
  height: 100%;
}

.vh-100 {
  height: 100vh;
}

.w-50 {
  width: 50%;
}

.vw-50 {
  width: 50vw;
}

.h-50 {
  height: 50%;
}

.vh-50 {
  height: 50vh;
}

.justify-content-center {
  justify-content: center;
}
