.bookings-index {
	#filter-content {
		.head {
			@extend .flex, .justify-content-between, .px-3, .mt-3;

			button {
				img {
					width: 24px;
					height: 24px;
				}
			}
		}
	}

	.head.top {
		@extend .flex, .items-center, .justify-content-between, .px-3;

		button#filter-trigger {
			height: 46px;

			img {
				width: 16px;
				height: 16px;
			}
		}
	}

	.switch {
		a {
			text-transform: none;
		}
	}

	.bookings-section {
		height: calc(100vh - 165px - 50px);
	}
}
