#bookings-new {
	.profileAvatar {
		height: 32px;
		width: 32px;
		background-size: cover;
		background-position: center;
	}

	#booking-price {
		max-width: 100px !important;
	}

	.dates-selector {
		.weekends-contain {
			margin-top: calc(#{$spacing-2} + #{$spacing-3});
		}
	}
}
