.booking-edit {
	#booking_start_time,
	#booking_end_time {
		width: 80px;
	}

	#booking_duration {
		width: 144px;
	}

	.bookingDuration {
		width: 144px;
	}

	.bookingSpecific,
	.bookingDuration {
		margin-right: calc(#{$spacing-3} + #{$base-spacing});
	}

	.dates-input-wrapper {
		width: 144px;
	}

	#tabs {
		@extend .rounded, .border-box;

		height: 48px;

		.tab {
			@extend .textBetween;

			padding-top: unset !important;
			padding-bottom: unset !important;
			color: #898994;

			&.active {
				@extend .rounded, .textDarkOne;
			}
		}
	}

	#time-container {
		width: 144px;
	}

	.booking_attachments {
		@extend .flex, .justify-content-center, .items-center, .py-2;

		border: 1px solid $flat-gray-3;
		letter-spacing: 2px;
		border-radius: 8px;

		label {
			img {
				@extend .vertical-align-middle;

				width: 32px;
				height: 32px;
			}
		}
	}

	.separator {
		@extend .my-3;

		border-bottom: 2px solid $blueish-gray;
	}

	button[type="submit"] {
		font-size: 16px;
	}
}
