#dashboardPage {
	.head {
		padding-top: calc(#{$spacing-4} + #{$spacing-2});

		h1 {
			@extend .uppercase;

			font-weight: 500;
			font-size: 18px;
		}

		.trigger {
			img {
				width: 32px;
				height: 32px;
			}
		}
	}

	#manager,
	#freelancer {
		p.subtitle {
			font-size: 14px;
		}

		.bookings-count {
			@extend .flex, .items-center, .justify-content-center, .my-3;

			color: $blue-2;
			font-weight: 600;

			img {
				@extend .ml-1;
			}
		}

		.card-container {
			@extend .py-2, .px-3, .rounded, .my-3;

			background-color: $blueish-gray;

			.card {
				@extend .rounded-circle,
					.p-2,
					.flex,
					.justify-content-center,
					.items-center;

				&.accepted {
					background: $flat-green-3;
				}

				&.pending {
					background: $flat-yellow-3;
				}

				&.rejected,
				&.canceled {
					background: $flat-red-2;
				}

				img {
					height: 24px;
					width: 24px;
				}
			}
		}
	}

	.jobs {
		.active-jobs {
			.job-card {
				.skill-pill {
					@extend .mr-0;
				}
			}

			.applicant-avatars {
				@extend .flex, .justify-content-center;

				.small-avatar {
					@extend .flex, .justify-content-center, .items-center;

					&:first-of-type {
						margin-left: unset !important;
					}

					margin-left: -10px;
					background: white;
					border-radius: 50%;
					height: 40px;
					width: 40px;

					img {
						object-fit: cover;
						border-radius: 50%;
						width: 80%;
						height: 80%;
					}

					.last-avatar {
						@extend .rounded-circle,
							.textWhite,
							.flex,
							.justify-content-center,
							.items-center;

						width: 80%;
						height: 80%;
						background-size: cover;
					}
				}
			}
		}
	}
}
