.job-edit {
	#job_start_time,
	#job_end_time {
		width: 80px;
		height: 24px;
	}

	#job_duration {
		width: 200px;
		height: 24px;
	}

	.bookingDuration {
		width: 214px;
	}

	#tabs {
		@extend .rounded;

		height: 32px;

		.tab {
			padding-top: unset !important;
			padding-bottom: unset !important;

			&.active {
				@extend .rounded;
			}
		}
	}
}
