.jobs-index {
	#filter-trigger {
		height: 46px;
	}

	#filter-content {
		.head {
			@extend .flex, .justify-content-between, .px-3, .mt-3;

			button {
				img {
					width: 24px;
					height: 24px;
				}
			}
		}
	}

	section.jobs {
		/***
    * ~150px => Height of top part
    * ~50px => Height of navbar
    ***/
		height: calc(100vh - 150px - 50px);

		.job-card {
			.skill-pill {
				margin: 0;
			}

			.applicant-avatars {
				@extend .flex, .justify-content-center;

				.small-avatar {
					@extend .flex, .justify-content-center, .items-center;

					&:first-of-type {
						margin-left: unset !important;
					}

					margin-left: -10px;
					background: white;
					border-radius: 50%;
					height: 40px;
					width: 40px;

					img {
						object-fit: cover;
						border-radius: 50%;
						width: 80%;
						height: 80%;
					}

					.last-avatar {
						@extend .rounded-circle,
							.textWhite,
							.flex,
							.justify-content-center,
							.items-center;

						width: 80%;
						height: 80%;
						background-size: cover;
					}
				}
			}
		}
	}
}
