.jobs-new {
	section {
		.icon {
			width: 16px;
			height: 16px;

			&.more {
				width: 24px;
				height: 24px;
			}
		}

		.bookingHours {
			@extend .mr-2;

			width: 200px;
		}

		&.content {
			#new_job {
				.separator {
					@extend .pt-3;

					border-top: 1px solid #f4f6f9;
				}

				#job_weekends {
					@extend .big;
				}

				button[type="submit"] {
					@extend .w-100;

					img {
						height: 24px;
					}

					span {
						@extend .ml-3;

						font-size: 16px;
					}
				}
			}
		}
	}
}
