#managers-index {
	#manager-cards {
		@extend .px-3;

		display: grid;
		grid-template-columns: 1fr 1fr;

		.manager-card {
			@extend .mb-3, .p-3;

			border-bottom: 1px solid #f4f6f9;

			&:nth-child(odd) {
				border-right: 1px solid#f4f6f9;
			}
		}
	}
}
