.profileBanner {
  @extend .w-100;
  height: 40vh;
  background-position: center;
  background-size: cover;
  // position: absolute;
  top: 0;
}

.profileHeader {
  @extend .flex;
  @extend .justify-content-between;
  @extend .items-center;
  @extend .p-3;
  position: relative;
  width: 100%;
  background-color: white;
  border-top-right-radius: 40px;
  box-sizing: border-box;
  bottom: 32px;
  h1 {
    font-size: 24px;
    @extend .mb-0;
    @extend .mt-2;
  }
}

.profileButtons {
  .btn-lg {
    display: block;
    flex-grow: 1;
    border-radius: 8px;
    text-align: center;
  }
}

// For the bottom left rounded corner of the banner
// https://itnext.io/how-to-make-a-fancy-inverted-border-radius-in-css-5db048a53f95
.profileHeader::before {
  content: "";
  position: absolute;
  background-color: transparent;
  // bottom: 134px;
  top: -64px;
  left: 0px;
  height: 64px;
  width: 39px;
  border-bottom-left-radius: 58px;
  box-shadow: -3px 28px 0px -1px white;
}

.profileButtons {
  @extend .p-3;
  @extend .pt-0;
}
