$day-width: 80px;
$day-height: 180px;
$day-header-height: 60px;

#calendar-page {
	#calendar-filter {
		.filter-overlay {
			@extend .bg-white;

			position: fixed;
			width: 100%;
			height: 100vh;
			z-index: 1;

			.header {
				border-bottom: 2px solid $blueish-gray;
			}

			.content {
				@extend .px-3;

				h3 {
					@extend .uppercase, .mb-3;

					font-size: 16px;
				}
			}
		}
	}

	#calendar {
		@extend .relative;

		&.no-scroll {
			position: fixed;
			width: 100%;
		}

		.month-selection {
			h3 {
				@extend .semi-bold;
			}

			.selector-wrapper {
				@extend .shadow, .p-3, .rounded;

				position: absolute;
				bottom: -100px;
				left: 50px;
				z-index: 1;
				background: white;
			}

			.months-grid {
				display: grid;
				grid-template-columns: repeat(4, auto);
			}
		}

		#booking-form-container {
			@extend .pb-5;

			position: absolute;
			overflow-y: scroll;
			height: 100vh;
			width: 100%;
			background: white;
			z-index: 1;
		}

		.calendarContainer {
			display: flex;
			overflow-x: scroll;
			border-bottom: 2px solid $blueish-gray;

			p {
				margin: 0;
			}

			.profiles {
				@extend .sticky;

				left: 0;
				background: white;
			}

			.week {
				height: $day-height;
				display: flex;

				&.profile {
					@extend .flex,
						.flex-column,
						.items-center,
						.justify-content-center,
						.px-1,
						.text-center;

					width: 100px;

					&.today {
						@extend .justify-content-start;

						height: 60px;

						span {
							@extend .textMd, .mt-0;

							color: $blue-2;
						}
					}

					img {
						width: 48px;
						height: 48px;
					}

					p {
						font-size: 14px;
						color: #3f434a;
					}

					span {
						@extend .text-center, .mt-1, .textSm;

						color: #828282;
					}
				}

				&.blank {
					background: transparent;
					height: $day-header-height;
				}
			}

			.dayHeaders {
				@extend .flex, .justify-content-between;

				top: 0;
				height: $day-header-height;

				.dayHeader {
					@extend .flex, .flex-column, .items-center;

					width: $day-width;
					border: 1px solid transparent;

					span {
						@extend .textMd;

						color: #8a9099;
						font-weight: 500;

						&.today {
							color: $blue-2;
						}
					}

					p {
						@extend .bold, .flex, .justify-content-center, .items-center;

						width: 40px;
						border-radius: $radius-md;
						color: #4f4f4f;
						font-weight: 600;

						&.today {
							color: $blue-2;
						}
					}
				}
			}

			.daysCollection {
				@extend .flex;

				height: $day-height;

				.day {
					border: 1px solid #e8e9eb;
					width: $day-width;
					height: $day-height;

					&.today {
						background: #fafbff;
					}

					&.blueBorder {
						border: 1px solid transparent;
					}

					.event {
						@extend .mb-2;

						background: $flat-orange-5;
						border-top: 8px solid $flat-orange-3;

						.event-details {
							background: $flat-orange-5;
						}

						&.red {
							background: $flat-red-5;
							border-top-color: $flat-red-3;

							.event-details {
								background: $flat-red-5;
							}
						}

						&.green {
							background: $flat-green-5;
							border-top-color: $flat-green-3;

							.event-details {
								background: $flat-green-5;
							}
						}

						.event-details {
							height: 100%;
							overflow-x: overlay;

							.title {
								@extend .textSm;

								color: $dark-gray;
								font-weight: 600;
							}

							.time {
								font-size: 10px;
								font-weight: 500;
							}
						}
					}
				}
			}
		}
	}
}
