<% if booking_group.keys.length.positive? %>
  <% booking_group.each do |day, bookings| %>
    <% bookings.each do |booking| %>
      <%= render partial: "bookings/#{current_user.role}_card", locals: { booking: booking, day: day, first: bookings[0] == booking } %>
    <% end %>
  <% end %>
<% else %>
  <h3 class="text-center">No profiles found!</h3>
<% end %>
