<% if bookings.length.positive? %>
  <% bookings.each do |booking| %>
    <%= render partial: "bookings/#{current_user.role}_card", locals: { booking: booking } %>
  <% end %>
<% else %>
  <h3 class="text-center">No profiles found!</h3>
<% end %>
