(() => {
  const bookingCards = document.getElementById("booking-cards");
  const switches = document.querySelectorAll(".switch a");
  const filterContent = document.getElementById("filter-content");
  const trigger = document.getElementById("filter-trigger");

  bookingCards.innerHTML = "<%= j render partial: "bookings/booking_cards", locals: { booking_group: @bookings, archived_bookings: current_user.manager? ? @archived_bookings : [] } %>";

  switches.forEach(switchLink => {
    if (switchLink.classList.contains("btn-transparent") && switchLink.dataset.status == "<%= params[:status] %>") {
      switchLink.classList.add("btn-white");
      switchLink.classList.remove("btn-transparent");
    } else {
      switchLink.classList.remove("btn-white");
      switchLink.classList.add("btn-transparent");
    }
  })

  if (!filterContent.classList.contains("none")) {
    filterContent.classList.add("none");
  }

  if (trigger && <%= @filter_count.is_a?(Integer) ? @filter_count : 0 %> > 0) {
    const template = `
      <span class="skill-pill filter blue m-0 filter-count">
        <%= @filter_count.to_s.rjust(2, "0") %>
      </span>
    `;

    trigger.insertAdjacentHTML("beforeend", template);
  }

  window.moreTogglerMultiple(true);
  window.archive();
})();
