<div class="mx-3 pt-3">
  <h1>Edit password</h1>
  <%= simple_form_for @user, url: update_password_path do |f| %>
    <%= f.input :password, as: :password, wrapper_html: { class: "flex flex-column mb-3" } %>
    <%= f.submit "Update password", class: "btn btn-primary" %>
  <% end %>
</div>
