<div class="manager-card">
  <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659650_1280.png" width="64" height="64" />
  <div class="manager-text">
    <h3><%= manager.user.display_name %></h3>
    <p><%= manager.company.name %></p>
  </div>
  <div class="manager-actions"></div>
</div>
