<div id="managers-index">
  <div class="search-bar">
    <input type="text" placeholder="Search" />
  </div>

  <div id="manager-cards">
    <%= render partial: "managers/cards", locals: { managers: @managers } %>
  </div>
</div>
