<nav class="navbar">
  <% if user_signed_in? %>
    <% if current_user.manager? %>
      <% NavbarLinks::MANAGER_NAVBAR_LINKS.each do |link| %>
        <%= link_to link[:url] do %>
          <%= image_tag link[:icon], alt: link[:text] %>
        <% end %>
      <% end %>
    <% else %>
      <% NavbarLinks::FREELANCER_NAVBAR_LINKS.each do |link| %>
        <%= link_to link[:url], class: "nav-link" do %>
          <%= image_tag link[:icon], alt: link[:text], class: "nav-icon" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</nav>
