<nav class="navbar">
  <% if user_signed_in? %>
    <% links ||= current_user.manager? ? NavbarLinks::MANAGER_NAVBAR_LINKS : NavbarLinks::FREELANCER_NAVBAR_LINKS %>
    <% links.each do |link| %>
      <%= link_to link[:url], class: "nav-link", data: { current_user_id: current_user.id }, id: link[:text] == "Inbox" ? "inbox-user" : nil do %>
        <% if request.url.include?(link[:url]) %>
          <%= image_tag link[:active_icon], alt: link[:text], class: "nav-icon" %>
        <% else %>
          <%= image_tag link[:icon], alt: link[:text], class: "nav-icon" %>
        <% end %>
        <% unread_count ||= Message.unread_user_scoped_count(current_user) %>
        <% if link[:text] == "Inbox" && unread_count.positive? %>
          <span class="notification"><%= unread_count.to_s.rjust(2, "0") %></span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</nav>
