<%= simple_form_for rating, remote: true do |f| %>
  <% 5.times do |i| %>
    <button class="p-0 star-rating" type="button">
      <%= image_tag "icons/rating.svg", alt: "rating" %>
    </button>
  <% end %>
  <%= f.input :value, as: :hidden, wrapper: false %>
  <%= f.submit "Submit", id: "submit", class: "none" %>
<% end %>
