<div id="content" class="flex justify-content-center items-center flex-column h-100">
  <h1 class="textBlue">Email us at <%= mail_to "info@flxibl.io", "info@flxibl.io", class: "textBlue" %></h1>
  <%= image_tag "message-bubble.svg", alt: "bubbles" %>
  <%= link_to "Update your password", edit_password_path, class: "textBlue uppercase mb-3" %>
  <%= link_to "Delete your account", user_delete_path, method: :delete, class: "textPink uppercase", data: { confirm: "Are you sure you want to delete your account?" } %>
</div>
