<div class="active-jobs">
  <div class="active-job-header">
    <h3>Active job posts</h3>
    <%= link_to "View all", "#" %>
  </div>
  <div class="active-job-cards">
    <h4>TODO: Show job cards here</h4>
  </div>
</div>
