.booking-form-header {
	@extend .mb-3, .px-3;

	.profile {
		p {
			@extend .mt-0, .mb-1;

			font-weight: 600;
			color: $dark-gray;
		}

		span {
			color: $light-black;
		}
	}
}

.bookingForm {
	.input-wrapper {
		@extend .flex, .flex-column, .mb-3;
	}

	.checkbox-wrapper {
		@extend .flex, .items-center, .mb-3;

		.custom-checkbox {
			@extend .mr-1, .rounded, .flex, .justify-content-center, .items-center;

			height: 24px;
			width: 24px;
			background: $blueish-gray;
			cursor: pointer;

			&.checked {
				background: $blue-2;

				img {
					display: unset !important;
				}
			}

			img {
				display: none;
				width: 16px;
				height: 16px;
			}
		}

		label {
			color: #898994;
		}
	}

	.duration-toggler {
		@extend .inline-flex,
			.p-1,
			.rounded,
			.justify-content-end,
			.ml-3,
			.border-box;

		background: $blueish-gray;
		height: 40px;

		button {
			text-transform: none;
			color: #898994;
		}
	}

	.total-price {
		color: #898994;
		font-size: 14px;
	}

	.booking-attachments {
		@extend .rounded;

		border: 1px solid $flat-gray-3;

		.choose-file {
			padding: 8px 24px;
			cursor: pointer;
			background: white;
			border-radius: 8px;
			display: flex;
			justify-content: center;
			align-items: center;
			letter-spacing: 2px;

			img {
				height: 32px;
				width: 32px;
			}
		}
	}

	.separator {
		@extend .my-3;

		border-top: 2px solid $blueish-gray;
	}

	button[type="submit"] {
		padding: 16px;
		font-size: 16px;

		img {
			vertical-align: middle;
		}
	}
}
