.bookingCard {
  abbr {
    display: none;
  }

  textarea {
    min-height: 120px;
  }

  input, textarea {
    box-sizing: border-box;
  }

  .booking_billable {
    @extend .flex, .items-center;

    .checkbox {
      @extend .mr-3;
    }
  }

    input[type='checkbox'] {
      width:24px;
      height:24px;
      background:white;
  }


  .choose-file {
    border: 1px solid #d3d3d3;
    padding: 8px 24px;
    cursor: pointer;
    background: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    img {
      height: 32px;
      width: 32px;
    }

    @extend .mx-3, .mt-3;
  }

  .send-request {
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    font-size: 16px;
    img {
      height: 32px;
      width: 32px;
    }

  }

}

  #totalPrice {

    @extend .flex, .items-center;
    white-space: nowrap;

  }
