button,
div,
a,
input[type="submit"] {
	@extend .no-decoration;
	border: none;
	background: transparent;
	-webkit-tap-highlight-color: transparent;

	&.btn {
		display: block;
		text-transform: uppercase;
		font-weight: 500;
		border-radius: $radius-md;
		color: $dark-gray;
		padding: 8px 16px;
	}

	&.btn-centered {
		text-transform: uppercase;
		font-weight: 500;
		border-radius: 8px;
		color: #2f2f3e;
		padding: 8px 16px;
	}

	&.btn-lg {
		@extend .btn;
		padding: 16px 32px;
	}

	&.btn-primary {
		@extend .border-box, .flex, .justify-content-center, .items-center;

		color: #fff;
		background: $dark-blue-gradient;
		font-weight: 500;
		font-size: 14px !important;
		height: 40px;
	}

	&.btn-secondary {
		color: #fff;
		background: $light-blue-gradient;
	}

	&.btn-transparent {
		font-size: 14px !important;
	}

	&.btn-white {
		background: #ffffff;
		font-size: 14px !important;
		box-shadow: 0px 1px 5px rgba(50, 51, 94, 0.17);
	}

	&.btn-float {
		background: transparent;

		&.red {
			color: $flat-red-2;
		}

		&.blue {
			color: $blue-2;
		}
	}

	&[disabled] {
		filter: grayscale(80%);
	}

	&.btn-note {
		@extend .text-center, .border-gray;
		color: $gray !important;
	}

	&.btn-gray-gradient {
		@extend .text-center;

		background: linear-gradient(135deg, #6c7580 3.76%, #262b34 97.26%);
		color: $light-gray;
	}

	&.btn-unstyled {
		&:active,
		&:focus {
			background-color: inherit;
			border: none;
			font-size: inherit;
			text-transform: uppercase;
			outline: none;
		}
	}

	&.gradient-red {
		background: linear-gradient(
			180deg,
			rgba(255, 107, 111, 0.8) 0%,
			#ff6b6f 100%
		);
	}

	&.gradient-green {
		background: linear-gradient(
			158.53deg,
			rgba(30, 215, 166, 0.8) 1.72%,
			#1ed7a6 114.07%
		);
	}
}
