button,
a,
input[type="submit"] {
	@extend .no-decoration;
	border: none;
	background: transparent;
	-webkit-tap-highlight-color: transparent;

	&.btn {
		display: block;
		text-transform: uppercase;
		font-weight: 500;
		border-radius: $radius-md;
		color: $dark-gray;
		padding: 8px 16px;
	}

	&.btn-lg {
		@extend .btn;
		padding: 16px 32px;
	}

	&.btn-primary {
		color: #fff;
		background: $dark-blue-gradient;
	}

	&.btn-secondary {
		color: #fff;
		background: $light-blue-gradient;
	}

	&.btn-white {
		background: #ffffff;
		box-shadow: 0px 2px 10px rgba(50, 51, 94, 0.17);
	}

	&.btn-float {
		background: transparent;

		&.red {
			color: $flat-red-2;
		}
	}

	&[disabled] {
		filter: grayscale(80%);
	}

	&.btn-note {
		@extend .text-center, .border-gray;
		color: $gray !important;
	}

	&.btn-gray-gradient {
		@extend .text-center;

		background: linear-gradient(135deg, #6c7580 3.76%, #262b34 97.26%);
		color: $light-gray;
	}
}
