#filter-content {
	@extend .fixed, .h-100, .w-100, .mt-0, .pb-3, .mb-3;

	overflow-y: scroll;
	top: -16px;
	left: 0;
	background: white;
	z-index: 1;

	.head {
		border-bottom: 2px solid $blueish-gray;
	}

	.content {
		@extend .mt-3, .px-3;

		p.title {
			@extend .uppercase;

			color: $light-black;
		}
	}

	form {
		label {
			color: $light-black;
		}
	}

	.job-simple-card {
		@extend .rounded, .mb-3;
		background: $blueish-gray;

		h3 {
			font-size: 16px;
		}

		p {
			font-size: 12px;
		}
	}

	.advanced-content {
		#job-application-trigger {
			color: $blue-2;
			transition: 0.25s ease;

			&.expanded {
				color: $flat-dark-5;
				opacity: 0.5;
			}
		}

		#job-application-content {
			&.h-0 {
				.jobs,
				.job-simple-card,
				.job-card {
					@extend .h-0, .m-0, .p-0;
				}
			}

			.jobs {
				.job-card {
					&.selected {
						background: $flat-blue-5 !important;
					}

					.skill-pill {
						@extend .mr-0;
					}

					.applicant-avatars {
						@extend .flex, .justify-content-center;

						.small-avatar {
							@extend .flex, .justify-content-center, .items-center;

							&:first-of-type {
								margin-left: unset !important;
							}

							margin-left: -20px;
							background: white;
							border-radius: 50%;
							height: 40px;
							width: 40px;

							img {
								border-radius: 50%;
								width: 80%;
								height: 80%;
							}

							.last-avatar {
								@extend .rounded-circle,
									.textWhite,
									.flex,
									.justify-content-center,
									.items-center;

								width: 80%;
								height: 80%;
								background-size: cover;
							}
						}
					}
				}
			}
		}
	}
}
