.alert {
	@extend .mb-3;

	text-transform: uppercase;
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: $spacing-4 $spacing-2 $spacing-2 $spacing-2;
	z-index: 4;
	&.alert-warning {
		background-color: $flat-red;
		color: $wine-red;
	}

	&.alert-info {
		background-color: $flat-green-5;
		color: $leaf-green;
	}
}
