label {
	@extend .mb-1;
}

textarea {
	&.with-min-height {
		min-height: 120px;
	}
}

input,
textarea,
select {
	&[type="checkbox"] {
		&.big {
			width: 24px;
			height: 24px;
		}
	}

	background-color: #f4f6f9;
	border: none;
	border-radius: $radius-md;
	padding: 8px;
	color: #121217;
	box-sizing: border-box;
	height: 40px;

	&[type="radio"] {
		height: unset;
	}

	&:focus {
		outline: $blue auto 1px;
		background: white;
	}

	&.lg {
		@extend .textMd;
	}

	&.error {
		border: 1px solid $flat-red-3;
	}

	@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
		font-size: 16px;
	}
}

.field_with_errors {
	@extend .w-100;
}
