nav.navbar {
	@extend .pb-3, .pt-2;

	z-index: 2;
	flex-shrink: 0; // For sticky footer behavior
	position: sticky;
	bottom: 0;
	background: white;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #f4f6f9;
	padding-left: 40px;
	padding-right: 40px;

	a.nav-link {
		@extend .relative;

		img.nav-icon {
			height: 20px;
			width: 20px;
		}
	}
}
