.profile-card {
	border-bottom: 1px solid #f4f6f9;
	padding: 16px;
	display: flex;
	flex-direction: column;

	.profile-card-avatar {
		@extend .rounded-square;

		object-fit: contain;
		background-position: center;
		background-size: cover;
	}

	&:nth-child(odd) {
		border-right: 1px solid#f4f6f9;
	}

	.top {
		@extend .flex, .items-start, .justify-content-between;

		.action {
			padding: 0;

			.icon {
				height: 18px;
				width: 18px;
			}
		}
	}

	.bottom {
		@extend .text-center;

		.text-group {
			.name {
				@extend .mt-2, .mb-3;

				font-weight: 600;
				font-size: 16px;
			}

			.profession {
				@extend .m-0;

				font-size: 14px;
				font-weight: normal;
				text-transform: uppercase;
				color: $flat-dark-4;
			}

			.location {
				@extend .m-0;

				font-size: 12px;
				color: rgba(137, 137, 148, 1);
			}
		}

		.star {
			height: 16px;
			width: 16px;

			&:not(:last-child) {
				@extend .mr-1;
			}
		}

		.rating-size {
			margin-left: 4px;
			color: $light-black;
			font-weight: 500;
			font-size: 12px;
		}
	}

	.bottom-bottom {
		.message {
			font-size: 12px !important;

			img {
				@extend .mr-1;
			}
		}
	}
}
