.profile-card {
	border-bottom: 1px solid #f4f6f9;
	padding: 16px;
  height: 320px;
  display: flex;
  flex-direction: column;

  .profile-card-avatar {
    object-fit: contain;
    @extend .rounded-square;
    box-shadow: 0px 3px 6px -2px rgba(50, 51, 9, .1);
  }

	&:nth-child(odd) {
		border-right: 1px solid#f4f6f9;
	}

	.top {
		@extend .flex, .items-start, .justify-content-between;

		.action {
			padding: 0;

			.icon {
				height: 24px;
				width: 24px;
			}
		}
	}

	.bottom {
		@extend .text-center;

		.text-group {
			.name {
				@extend .mt-2, .mb-3;

				font-size: 16px;
			}

			.profession {
				@extend .m-0;

				font-size: 14px;
				text-transform: uppercase;
			}

			.location {
				@extend .m-0;

				font-size: 12px;
			}
		}

		.star {
			height: 16px;
			width: 16px;
		}

		.rating-size {
			margin-left: 4px;
			color: #6c7b8a;
		}
	}
}
