.booking-widget {
	@extend .mb-3;

	border-radius: 12px;

	.title {
		@extend .p-3, .mb-3;

		border-top-left-radius: 12px;
		border-top-right-radius: 12px;

		&.accepted {
			background-color: $flat-green-3;
		}

		&.pending {
			background-color: $flat-yellow-3;
		}

		&.rejected {
			background-color: $flat-red-4;
		}
	}

  .booking-description {
    max-width: 100%;
    line-break: anywhere;
  }

	.box {
		@extend .rounded, .items-center, .mb-3;

		border: 1px solid #dfe5ee;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.attachment {
		@extend .rounded;

		border: 1px solid $flat-gray-3;
	}

	.actions {
		@extend .mt-3;

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 16px;

		.action {
			@extend .btn, .textWhite;

			&.reject {
				@extend .gradient-red;
        height: 40px;
			}

			&.accept {
				@extend .gradient-green;
        height: 40px;
			}
		}
	}
}
