.profileTabs {
  @extend .mx-3, .py-1, .flex, .justify-content-around, .items-center;
  border-radius: 16px;
  background-color: $blueish-gray;


  .tab {
    @extend .mx-1, .py-3, .flex-grow-1, .justify-content-center, .h-100, .flex, .items-center;


    &.active {
      // transition: ease 1s;
      background-color: white;
      border-radius: 16px;
      box-shadow: 0px 6px 10px rgba(50, 51, 94, 0.15);
    }
  }
}
