// Graphical variables
@import "config/colors";
@import "config/utilities/index";

// CSS partials
@import "components/index";
@import "pages/index";

@import "flatpickr/dist/flatpickr";
@import "flatpickr/dist/themes/airbnb";
@import "tom-select/dist/css/tom-select.min";

html,
body {
	@extend .h-100;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
}

* {
	font-family: "Montserrat", sans-serif;
	color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	@extend .noSelect;
}

.yielded-content {
	flex: 1 0 auto;
}

@media (min-width: 600px) {
	.yielded-content {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $light-gray;
	}
	.contained {
		width: 600px;
		height: 100%;
		background-color: white;
		box-shadow: 1px 6px 19px -1px rgba(0, 0, 0, 0.1);
		padding-bottom: 32px;
	}
}

.turbolinks-progress-bar {
	height: 16px;
	color: $blue;
	opacity: 0.6;
}

.fixed-bottom {
	position: fixed;
	width: 100%;
	bottom: 60px;
}

@supports (padding-top: constant(safe-area-inset-top)) {
	body {
		padding-top: (env(safe-area-inset-top), 0);
	}
}
