// Graphical variables
@import "config/colors";
@import "config/utilities/index";

// CSS partials
@import "components/index";
@import "pages/index";

@import "flatpickr/dist/flatpickr";
@import "flatpickr/dist/themes/airbnb";


body {
	margin: 0;
}

* {
	font-family: "Montserrat", sans-serif;
	color: $black;
}
