// Graphical variables
@import "config/colors";
@import "config/utilities/index";

// Your CSS partials
@import "components/index";
@import "pages/index";

html, body {
  @extend .h-100;
}

body {
	margin: 0;
  display: flex;
  flex-direction: column;
}

* {
	font-family: "Montserrat", sans-serif;
	color: $black;
}

.yielded-content {
  flex: 1 0 auto;
}
