// Margin
.mb-0 {
	margin-bottom: 0;
}

.mt-0 {
	margin-top: 0;
}

.ml-0 {
	margin-left: 0;
}

.mr-0 {
	margin-right: 0;
}

.mb-2 {
	margin-bottom: 8px;
}

.mx-0 {
	@extend .ml-0;
	@extend .mr-0;
}

.my-0 {
	@extend .mb-0;
	@extend .mt-0;
}

.noMargin,
.m-0 {
	margin: 0;
}

.mt-3 {
	margin-top: 16px;
}

.mr-1 {
	margin-right: 4px;
}

.mr-3 {
	margin-right: 16px;
}

.mb-3 {
	margin-bottom: 16px;
}

.my-3 {
	@extend .mt-3;
	margin-bottom: 16px;
}

.mx-3 {
	@extend .ml-3;
	@extend .mr-3;
}

.mt-2 {
	margin-top: 12px;
}

.ml-3 {
	margin-left: 16px;
}

// Padding
.pl-0 {
	padding-left: 0;
}

.p-1 {
	padding: 4px;
}

.p-2 {
	padding: 8px;
}

.p-3 {
	padding: 16px;
}

.px-3 {
	padding-left: 16px;
	padding-right: 16px;
}
