// Text color
.textRed {
	color: red;
}

.textWhite {
	color: white;
}
// End of text color

// Text sizing
.textSm {
	font-size: 12px;
}

.textMd {
	font-size: 16px;
}
// End of text sizing

// Others
.text-center {
	text-align: center;
}

.text-start {
	text-align: start;
}
